@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita a Administradores do Sistema";
}

<p>Você não tem permissão de acesso para essa página<a asp-controller="Home" asp-action="Index">clique aqui para retornar a tela principal</a></p>
