@{
    ViewData["Title"] = "Deletar Contato";
}

<div class="text-center">
    <br />
    <h3>CRealmente deseja apagar o contato</h3>
</div>
<a class="btn btn-primary btn-block" role="button">Cancelar Exclusão</a>
<a class="btn btn-danger btn-block" role="button">Confirmar Exclusão</a>